body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1192px;
    height: 670px;
    margin: auto;
    border: 2px solid black;
    max-width: 1920px;
    max-height: 1080px;
    border: 3px solid #707070;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-end; */
    padding-right: 50px;
    text-align: right;
}

h2 {
    color: #020253;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    color: #020253;
    font-size: 1.2rem;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

label {
    color: #2C2C2C;
    font-weight: bold;
    opacity: 1;
    font-size: 12px;
}

input {
    background-color: #F6F6F6;
    opacity: 1;
    border-bottom: 3px solid #020253;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    max-width: 418px;
    max-height: 50px;
    margin-bottom: 25px;
    width: 260px;
    height: 31px;
}

button {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    margin-top: 0;
    color: #F6F6F6;
    background-color: #020253;
    padding: 5px 25px;
    border-style: none;
    width: 102px;
    height: 30px;
}

.image img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 768px) {

    h2 {
        font-size: 2.25rem;
    }

    p {
        font-size: 0.875rem;
    }

    .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .image img {
        margin: 10px 0 auto;
        max-width: 75%;
        max-height: 75%;
    }

    .form-container {
        margin-bottom: 50px;
    }

    input {
        max-width: 100%;
    }
}